fastapi
uvicorn[standard]

langchain
langchain-core
langchain-openai
langchain-community
langchain-text-splitters
langchain-qdrant

openai

qdrant-client

motor
pymongo

python-dotenv
python-multipart

pypdf
docx2txt

pydantic
pydantic-settings

python-jose[cryptography]
pwdlib
bcrypt
